/* Search Input Wrapper */
.search-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    background: var(--surface);
    border-radius: 8px;
    padding: 0 16px;
    height: 44px;
    transition: all 0.2s;
    border: 1px solid transparent;

    &:focus-within {
        box-shadow: 0 0 0 2px var(--primary-light);
        background: #fff;
    }
}

.search-icon {
    color: var(--text-muted);
    margin-right: 8px;
}

.search-input {
    border: none;
    background: transparent;
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 0.95rem;
    color: var(--text-main);

    &::placeholder {
        color: var(--text-muted);
    }
}

.clear-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-muted);
    display: flex;
    align-items: center;
    padding: 0;

    &:hover {
        color: var(--text-main);
    }
}

/* Dropdown Results Box */
.search-dropdown-box {
    position: absolute;
    top: 110%;
    /* Slight gap */
    left: 0;
    width: 100%;
    background: var(--surface);
    border-radius: 12px;
    margin-top: 4px;
    z-index: 2000;
    /* Higher than navbar */
    overflow: hidden;
    border: 1px solid var(--border);
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
    animation: slideDown 0.2s ease-out;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.result-item {
    cursor: pointer;
    transition: background-color 0.2s;
    border-bottom: 1px solid var(--border-light);

    &:hover,
    &.active {
        background-color: var(--surface-low);
    }

    &:last-child {
        border-bottom: none;
    }
}

.result-thumb {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 6px;
    background-color: var(--surface-low);
}

.result-info {
    display: flex;
    flex-direction: column;
}

.smallest {
    font-size: 0.75rem;
}

.view-all-btn {
    background: var(--surface-low);
    border-top: 1px solid var(--border);
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
        background: var(--border-light);
    }

    button {
        background: none;
        border: none;
        color: var(--primary);
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 0 auto;
        cursor: pointer;
    }
}